# ─────────────────────────────────────────────────────────────────────────────
# AetherScheduler — Variables d'Environnement (Modèle)
# ─────────────────────────────────────────────────────────────────────────────

STRAPI_URL=https://strapi.clavier.dev
VITE_STRAPI_URL=https://strapi.clavier.dev

# Token Administrateur Strapi
STRAPI_ADMIN_TOKEN=votre_token_admin_ici

# Token API de Contenu Strapi (Full Access)
STRAPI_API_TOKEN=votre_token_content_api_ici
VITE_STRAPI_API_TOKEN=votre_token_content_api_ici
